flows/config_loader.json
[
  {
    "id": "tab-cfg-loader",
    "type": "tab",
    "label": "Config Loader",
    "disabled": false,
    "info": "Loads JSON config files from /config/ into global.config namespace.\n\nBEFORE USING:\n- Configure the 'Highland MQTT' broker node with hub IP and svc_nodered credentials\n- If you already have an MQTT broker config node, update the broker ID references\n  in the three MQTT nodes below to point to your existing broker node instead.\n\nTriggers:\n- Startup (0.5s delay after deploy)\n- Manual inject\n- MQTT: highland/command/config/reload            (full reload)\n- MQTT: highland/command/config/reload/{name}     (selective reload)\n\nValid {name} values: device_registry, flow_registry, notifications,\n                     thresholds, healthchecks, secrets"
  },
  {
    "id": "highland-mqtt-broker",
    "type": "mqtt-broker",
    "name": "Highland MQTT",
    "broker": "HUB_IP_ADDRESS",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "cfg-inject-startup",
    "type": "inject",
    "z": "tab-cfg-loader",
    "name": "Startup / Manual",
    "props": [
      { "p": "payload" },
      { "p": "topic", "v": "", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.5,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 140,
    "y": 100,
    "wires": [["cfg-fn-load"]]
  },
  {
    "id": "cfg-mqtt-reload-all",
    "type": "mqtt in",
    "z": "tab-cfg-loader",
    "name": "Reload All",
    "topic": "highland/command/config/reload",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "highland-mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 160,
    "wires": [["cfg-fn-load"]]
  },
  {
    "id": "cfg-mqtt-reload-one",
    "type": "mqtt in",
    "z": "tab-cfg-loader",
    "name": "Reload One",
    "topic": "highland/command/config/reload/+",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "highland-mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 220,
    "wires": [["cfg-fn-load"]]
  },
  {
    "id": "cfg-fn-load",
    "type": "function",
    "z": "tab-cfg-loader",
    "name": "Load Configs",
    "func": "const fs   = require('fs');\nconst path = require('path');\n\nconst CONFIG_DIR = '/config';\n\nconst CONFIG_MAP = {\n    device_registry: 'device_registry.json',\n    flow_registry:   'flow_registry.json',\n    notifications:   'notifications.json',\n    thresholds:      'thresholds.json',\n    healthchecks:    'healthchecks.json',\n    secrets:         'secrets.json'\n};\n\n// Determine scope: selective or full\nconst prefix = 'highland/command/config/reload/';\nconst topic  = msg.topic || '';\nlet scope = null;\n\nif (topic.startsWith(prefix)) {\n    const name = topic.slice(prefix.length);\n    if (!CONFIG_MAP[name]) {\n        node.warn(`[Config Loader] Unknown config name: ${name}`);\n        return null;\n    }\n    scope = name;\n}\n\nconst toLoad = scope\n    ? { [scope]: CONFIG_MAP[scope] }\n    : CONFIG_MAP;\n\n// Load or initialize global config object\nlet config = global.get('config') || {};\n\nconst loaded = [];\nconst errors = [];\n\nfor (const [key, filename] of Object.entries(toLoad)) {\n    const filepath = path.join(CONFIG_DIR, filename);\n    try {\n        const raw   = fs.readFileSync(filepath, 'utf8');\n        config[key] = JSON.parse(raw);\n        loaded.push(key);\n    } catch (err) {\n        errors.push({ key, filename, error: err.message });\n        node.warn(`[Config Loader] Failed to load ${filename}: ${err.message}`);\n    }\n}\n\nglobal.set('config', config);\n\nmsg.topic   = 'highland/status/config/loaded';\nmsg.payload = {\n    loaded,\n    errors,\n    scope:     scope || 'all',\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 160,
    "wires": [["cfg-mqtt-out-status", "cfg-debug-result"]]
  },
  {
    "id": "cfg-mqtt-out-status",
    "type": "mqtt out",
    "z": "tab-cfg-loader",
    "name": "highland/status/config/loaded",
    "topic": "highland/status/config/loaded",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "highland-mqtt-broker",
    "x": 600,
    "y": 140,
    "wires": []
  },
  {
    "id": "cfg-debug-result",
    "type": "debug",
    "z": "tab-cfg-loader",
    "name": "Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.loaded",
    "statusType": "msg",
    "x": 580,
    "y": 200,
    "wires": []
  },
  {
    "id": "cfg-catch-all",
    "type": "catch",
    "z": "tab-cfg-loader",
    "name": "Catch Errors",
    "scope": null,
    "uncaught": false,
    "x": 140,
    "y": 320,
    "wires": [["cfg-debug-errors"]]
  },
  {
    "id": "cfg-debug-errors",
    "type": "debug",
    "z": "tab-cfg-loader",
    "name": "Uncaught Error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 380,
    "y": 320,
    "wires": []
  }
]
