node-red/utility-weather-analysis.json
[
    {
        "id": "utility-weather-analysis",
        "type": "tab",
        "label": "Utility: Weather Analysis",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bcb13dac861d250e",
        "type": "group",
        "z": "utility-weather-analysis",
        "name": "Test Cases",
        "style": {
            "label": true
        },
        "nodes": [
            "ead1223fc07e37f8",
            "c83a705fe55caf7d",
            "5c924eb24b972189",
            "49bb2b27c12ba1b9",
            "54f40150dd1d4829",
            "136d51e5a736d823",
            "67fc476eb9100f6c",
            "fdcce2b5f39c27c1"
        ],
        "x": 54,
        "y": 1299,
        "w": 592,
        "h": 202
    },
    {
        "id": "6652e3e3c5df62c6",
        "type": "group",
        "z": "utility-weather-analysis",
        "name": "Sinks",
        "style": {
            "label": true
        },
        "nodes": [
            "8b7dc8ceadcff496",
            "db9168c1be7a3eb9"
        ],
        "x": 54,
        "y": 939,
        "w": 432,
        "h": 82
    },
    {
        "id": "d7f2516d4e327c4b",
        "type": "group",
        "z": "utility-weather-analysis",
        "name": "Error Handling",
        "style": {
            "label": true
        },
        "nodes": [
            "3e5f05fbb14bae19",
            "4389c4334a0341da"
        ],
        "x": 54,
        "y": 1179,
        "w": 352,
        "h": 82
    },
    {
        "id": "281de3f51249be11",
        "type": "group",
        "z": "utility-weather-analysis",
        "name": "Local Observations",
        "style": {
            "label": true
        },
        "nodes": [
            "c08373e631aa1c1a",
            "c2d5e25dc80d49a5"
        ],
        "x": 54,
        "y": 819,
        "w": 432,
        "h": 82
    },
    {
        "id": "4b1b9a8cad6bb5c7",
        "type": "group",
        "z": "utility-weather-analysis",
        "name": "Analysis Pipeline",
        "style": {
            "label": true
        },
        "nodes": [
            "c8ab7d0fe0f8541f",
            "6c97307825f8f8ca",
            "7a081a5703779af7",
            "5eb14c2a747c4439",
            "740881f30d552751",
            "e04ffc21bb991c5b",
            "5c292b434d3da63a"
        ],
        "x": 54,
        "y": 39,
        "w": 1392,
        "h": 142
    },
    {
        "id": "fb8affa9b0fed45b",
        "type": "group",
        "z": "utility-weather-analysis",
        "name": "Forecast Analysis",
        "style": {
            "label": true
        },
        "nodes": [
            "4c4d88282b8419ae",
            "5bb889f303382632",
            "58deb8d91030d8e6",
            "fe4c872a7802ef2f",
            "cf6c67f354d38b26",
            "419aad0856bdfa16"
        ],
        "x": 54,
        "y": 219,
        "w": 1032,
        "h": 142
    },
    {
        "id": "e48ec7853e3a24c2",
        "type": "group",
        "z": "utility-weather-analysis",
        "name": "MinuteCast Notifications",
        "style": {
            "label": true
        },
        "nodes": [
            "70a253721a667cb7",
            "5decea75d30acaba",
            "c58e60827e5208c2",
            "72b71d3c3c260c7e"
        ],
        "x": 54,
        "y": 399,
        "w": 692,
        "h": 142
    },
    {
        "id": "83a2a12d4b7bf437",
        "type": "group",
        "z": "utility-weather-analysis",
        "name": "Home Assistant Discovery",
        "style": {
            "label": true
        },
        "nodes": [
            "9fe3e31da8fe82a9",
            "b0b74d33afaa5ccb",
            "c579777ee6f89059"
        ],
        "x": 54,
        "y": 1059,
        "w": 612,
        "h": 82
    },
    {
        "id": "dae1ce2bc722b81b",
        "type": "group",
        "z": "utility-weather-analysis",
        "name": "OpenWeatherMap Acquisition",
        "style": {
            "label": true
        },
        "nodes": [
            "b6b8e9e579008d7b",
            "55b5f621be1afb52",
            "f71b49b0c0ed6539",
            "8242604ee0c4be3b",
            "f7bf2226f80bc1c2"
        ],
        "x": 54,
        "y": 579,
        "w": 1012,
        "h": 82
    },
    {
        "id": "16bcf54fdc77a766",
        "type": "group",
        "z": "utility-weather-analysis",
        "name": "Open-Meteo Acquisition",
        "style": {
            "label": true
        },
        "nodes": [
            "32a496d30cba4e30",
            "f8af95de139b3aed",
            "21b6fdd2ea17c2a9",
            "aed2bbf31645aa1d"
        ],
        "x": 54,
        "y": 699,
        "w": 852,
        "h": 82
    },
    {
        "id": "8b7dc8ceadcff496",
        "type": "cronplus",
        "z": "utility-weather-analysis",
        "g": "6652e3e3c5df62c6",
        "name": "Poll",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "Every Minute",
                "topic": "every-minute",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 * * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 150,
        "y": 980,
        "wires": [
            [
                "db9168c1be7a3eb9"
            ]
        ]
    },
    {
        "id": "db9168c1be7a3eb9",
        "type": "link out",
        "z": "utility-weather-analysis",
        "g": "6652e3e3c5df62c6",
        "name": "Begin Analysis Cycle",
        "mode": "link",
        "links": [
            "c8ab7d0fe0f8541f"
        ],
        "x": 360,
        "y": 980,
        "wires": [],
        "l": true
    },
    {
        "id": "3e5f05fbb14bae19",
        "type": "catch",
        "z": "utility-weather-analysis",
        "g": "d7f2516d4e327c4b",
        "name": "Catch All",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 1220,
        "wires": [
            [
                "4389c4334a0341da"
            ]
        ]
    },
    {
        "id": "4389c4334a0341da",
        "type": "debug",
        "z": "utility-weather-analysis",
        "g": "d7f2516d4e327c4b",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 1220,
        "wires": []
    },
    {
        "id": "ead1223fc07e37f8",
        "type": "inject",
        "z": "utility-weather-analysis",
        "g": "bcb13dac861d250e",
        "name": "Manual",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1340,
        "wires": [
            [
                "fdcce2b5f39c27c1"
            ]
        ]
    },
    {
        "id": "c08373e631aa1c1a",
        "type": "mqtt in",
        "z": "utility-weather-analysis",
        "g": "281de3f51249be11",
        "name": "Tempest",
        "topic": "highland/state/weather/station",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "4cefa2ad2d8b462e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 860,
        "wires": [
            [
                "c2d5e25dc80d49a5"
            ]
        ]
    },
    {
        "id": "c2d5e25dc80d49a5",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "281de3f51249be11",
        "name": "Extract Station Data",
        "func": "const payload = typeof msg.payload === 'string'\n    ? JSON.parse(msg.payload)\n    : msg.payload;\n\nconst currentAccum   = payload.rain_accumulated ?? 0;\nconst previousAccum  = flow.get('previous_rain_accumulated') ?? null;\nconst precipType     = payload.precipitation_type ?? 'None';\n\n// Delta-based intensity — guard against midnight reset and first run\nconst delta = previousAccum !== null ? currentAccum - previousAccum : null;\nconst observedIntensity = delta !== null && delta > 0\n    ? Math.round(delta * 60 * 1000) / 1000\n    : (precipType !== 'None' ? 0.01 : 0);\n\nflow.set('previous_rain_accumulated', currentAccum);\nflow.set('station_rain_accumulated',  currentAccum);\nflow.set('station_precip_type',       precipType);\nflow.set('observed_intensity',        observedIntensity);\n\nreturn null;",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 860,
        "wires": []
    },
    {
        "id": "c83a705fe55caf7d",
        "type": "inject",
        "z": "utility-weather-analysis",
        "g": "bcb13dac861d250e",
        "name": "Manual",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1400,
        "wires": [
            [
                "49bb2b27c12ba1b9"
            ]
        ]
    },
    {
        "id": "5c924eb24b972189",
        "type": "inject",
        "z": "utility-weather-analysis",
        "g": "bcb13dac861d250e",
        "name": "Manual",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1460,
        "wires": [
            [
                "54f40150dd1d4829"
            ]
        ]
    },
    {
        "id": "49bb2b27c12ba1b9",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "bcb13dac861d250e",
        "name": "Force Threat",
        "func": "// Inject synthetic data that mimics rain starting in 10 minutes\n// Bypasses the API call entirely — goes straight to Analyze Minutely\n\nconst now = Math.floor(Date.now() / 1000);\n\n// Build 61 synthetic minutely entries\n// Minutes 0-9: dry, Minutes 10-60: rain\nconst minutely = [];\nfor (let i = 0; i < 61; i++) {\n    const active = i >= 10;\n    minutely.push({\n        time:               now + (i * 60),\n        precip_intensity:   active ? 0.05 + (Math.random() * 0.3) : 0,\n        precip_probability: active ? 0.75 : 0,\n        precip_error:       active ? 0.01 : 0,\n        precip_type:        active ? 'rain' : 'none',\n        rain_intensity:     active ? 0.05 : 0,\n        snow_intensity:     0,\n        sleet_intensity:    0\n    });\n}\n\nmsg.payload = {\n    fetched_at: new Date().toISOString(),\n    cape:       0,\n    minutely\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1400,
        "wires": [
            [
                "136d51e5a736d823"
            ]
        ]
    },
    {
        "id": "54f40150dd1d4829",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "bcb13dac861d250e",
        "name": "Force Clear",
        "func": "const now = Math.floor(Date.now() / 1000);\n\nconst minutely = Array.from({ length: 61 }, (_, i) => ({\n    time:               now + (i * 60),\n    precip_intensity:   0,\n    precip_probability: 0,\n    precip_error:       0,\n    precip_type:        'none',\n    rain_intensity:     0,\n    snow_intensity:     0,\n    sleet_intensity:    0\n}));\n\nmsg.payload = {\n    fetched_at: new Date().toISOString(),\n    cape:       0,\n    minutely\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1460,
        "wires": [
            [
                "67fc476eb9100f6c"
            ]
        ]
    },
    {
        "id": "136d51e5a736d823",
        "type": "link out",
        "z": "utility-weather-analysis",
        "g": "bcb13dac861d250e",
        "name": "Testing Bypass",
        "mode": "link",
        "links": [
            "7a081a5703779af7"
        ],
        "x": 540,
        "y": 1400,
        "wires": [],
        "l": true
    },
    {
        "id": "67fc476eb9100f6c",
        "type": "link out",
        "z": "utility-weather-analysis",
        "g": "bcb13dac861d250e",
        "name": "Testing Bypass",
        "mode": "link",
        "links": [
            "7a081a5703779af7"
        ],
        "x": 540,
        "y": 1460,
        "wires": [],
        "l": true
    },
    {
        "id": "c8ab7d0fe0f8541f",
        "type": "link in",
        "z": "utility-weather-analysis",
        "g": "4b1b9a8cad6bb5c7",
        "name": "Begin Analysis Cycle",
        "links": [
            "fdcce2b5f39c27c1",
            "db9168c1be7a3eb9"
        ],
        "x": 170,
        "y": 80,
        "wires": [
            [
                "e04ffc21bb991c5b"
            ]
        ],
        "l": true
    },
    {
        "id": "e04ffc21bb991c5b",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "4b1b9a8cad6bb5c7",
        "name": "Assemble Model",
        "func": "const formatStatus = global.get('utils.formatStatus', 'initializers') || (t => t);\n\nconst canonical = global.get('weather_canonical') ?? {};\nconst sources = canonical.sources ?? {};\n\n// Check minutely freshness\nconst minutelyFetchedAt = sources.minutely?.fetched_at;\nif (!minutelyFetchedAt) {\n    node.status({ fill: 'grey', shape: 'ring', text: formatStatus('Waiting for OWM data') });\n    return null;\n}\nconst minutelyAgeMinutes = (Date.now() - new Date(minutelyFetchedAt).getTime()) / 60000;\nif (minutelyAgeMinutes > 5) {\n    node.warn(`weather_canonical.minutely is ${Math.round(minutelyAgeMinutes)}m stale — skipping`);\n    node.status({ fill: 'red', shape: 'ring', text: formatStatus(`OWM stale ${Math.round(minutelyAgeMinutes)}m`) });\n    return null;\n}\n\n// Get CAPE from convective section — current hour lookup\nlet cape = 0;\nif (canonical.convective?.length > 0) {\n    const currentHour = new Date().toISOString().slice(0, 13);\n    const convNow = canonical.convective.find(e => e.time.startsWith(currentHour));\n    cape = convNow?.cape ?? 0;\n}\n\n// Map canonical minutely to the shape Analyze Minutely expects\nconst minutely = (canonical.minutely ?? []).map(m => ({\n    time: m.time,\n    precip_intensity: m.precip_intensity,\n    precip_probability: m.precip_probability,\n    precip_error: null,\n    precip_type: m.precip_type,\n    rain_intensity: m.precip_type === 'rain' ? m.precip_intensity : 0,\n    snow_intensity: m.precip_type === 'snow' ? m.precip_intensity : 0,\n    sleet_intensity: m.precip_type === 'sleet' ? m.precip_intensity : 0\n}));\n\nif (minutely.length === 0) {\n    node.status({ fill: 'grey', shape: 'ring', text: formatStatus('Empty minutely') });\n    return null;\n}\n\n// Replace minutely[0] with Tempest ground truth\nconst stationPrecipType = flow.get('station_precip_type') ?? 'None';\nconst observedIntensity = flow.get('observed_intensity') ?? 0;\nconst isActive = stationPrecipType !== 'None';\n\n// When Tempest says it's raining, clamp intensity to at least the Analyze Minutely\n// threshold (0.02 in/hr). The fallback observedIntensity of 0.01 (no measurable delta\n// between readings) would otherwise cause has_threat to oscillate false while rain\n// continues, desynchronising notification_active from device state.\nconst groundTruthIntensity = isActive ? Math.max(observedIntensity, 0.021) : observedIntensity;\n\nif (minutely.length > 0) {\n    minutely[0] = {\n        ...minutely[0],\n        precip_intensity: groundTruthIntensity,\n        precip_probability: isActive ? 1.0 : minutely[0].precip_probability,\n        precip_type: isActive ? stationPrecipType.toLowerCase() : minutely[0].precip_type,\n        rain_intensity: stationPrecipType.toLowerCase() === 'rain' ? groundTruthIntensity : 0,\n        snow_intensity: stationPrecipType.toLowerCase() === 'snow' ? groundTruthIntensity : 0,\n        sleet_intensity: stationPrecipType.toLowerCase() === 'sleet' ? groundTruthIntensity : 0,\n        source: 'tempest'\n    };\n}\n\nmsg.payload = {\n    fetched_at: minutelyFetchedAt,\n    cape,\n    minutely\n};\n\nnode.status({\n    fill: 'green', shape: 'dot',\n    text: formatStatus(`${minutely.length} min | CAPE ${cape}`)\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 80,
        "wires": [
            [
                "6c97307825f8f8ca"
            ]
        ]
    },
    {
        "id": "6c97307825f8f8ca",
        "type": "link call",
        "z": "utility-weather-analysis",
        "g": "4b1b9a8cad6bb5c7",
        "name": "",
        "links": [
            "4c4d88282b8419ae"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 630,
        "y": 80,
        "wires": [
            [
                "5eb14c2a747c4439"
            ]
        ]
    },
    {
        "id": "7a081a5703779af7",
        "type": "link in",
        "z": "utility-weather-analysis",
        "g": "4b1b9a8cad6bb5c7",
        "name": "Testing Bypass",
        "links": [
            "136d51e5a736d823",
            "67fc476eb9100f6c"
        ],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "6c97307825f8f8ca"
            ]
        ],
        "l": true
    },
    {
        "id": "5eb14c2a747c4439",
        "type": "link call",
        "z": "utility-weather-analysis",
        "g": "4b1b9a8cad6bb5c7",
        "name": "",
        "links": [
            "70a253721a667cb7"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 870,
        "y": 80,
        "wires": [
            [
                "5c292b434d3da63a"
            ]
        ]
    },
    {
        "id": "740881f30d552751",
        "type": "debug",
        "z": "utility-weather-analysis",
        "g": "4b1b9a8cad6bb5c7",
        "name": "Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 80,
        "wires": []
    },
    {
        "id": "4c4d88282b8419ae",
        "type": "link in",
        "z": "utility-weather-analysis",
        "g": "fb8affa9b0fed45b",
        "name": "Analyze Run",
        "links": [],
        "x": 150,
        "y": 260,
        "wires": [
            [
                "58deb8d91030d8e6"
            ]
        ],
        "l": true
    },
    {
        "id": "5bb889f303382632",
        "type": "link out",
        "z": "utility-weather-analysis",
        "g": "fb8affa9b0fed45b",
        "name": "Analyze Run Return",
        "mode": "return",
        "links": [],
        "x": 955,
        "y": 320,
        "wires": []
    },
    {
        "id": "58deb8d91030d8e6",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "fb8affa9b0fed45b",
        "name": "Analyze Minutely",
        "func": "const formatStatus = global.get('utils.formatStatus', 'initializers') || (t => t);\n\nconst p = msg.payload;\nconst minutely = p.minutely;\n\n// --- Thresholds ---\nconst PROB_THRESHOLD      = 0.60;  // provisional\nconst INTENSITY_THRESHOLD = 0.02;  // in/hr — ignore trace amounts\n\n// --- Helper: is a given minute considered active precipitation? ---\nfunction isActive(m) {\n    return m.precip_probability >= PROB_THRESHOLD\n        && m.precip_intensity   >= INTENSITY_THRESHOLD;\n}\n\n// --- Scan minutely into windows ---\nconst windows = [];\nlet windowStart = 0;\nlet currentActive = isActive(minutely[0]);\n\nfor (let i = 1; i <= minutely.length; i++) {\n    const active = i < minutely.length ? isActive(minutely[i]) : !currentActive;\n    if (active !== currentActive) {\n        windows.push({\n            start_idx:  windowStart,\n            end_idx:    i - 1,\n            active:     currentActive,\n            minutes:    minutely.slice(windowStart, i)\n        });\n        windowStart   = i;\n        currentActive = active;\n    }\n}\n\nconst precipWindows = windows.filter(w => w.active);\n\nfunction analyzeWindow(w) {\n    let peakIntensity   = 0;\n    let peakProbability = 0;\n    const types = new Set();\n\n    for (const m of w.minutes) {\n        if (m.precip_intensity > peakIntensity) {\n            peakIntensity   = m.precip_intensity;\n            peakProbability = m.precip_probability;\n        }\n        if (m.rain_intensity  > 0) types.add('rain');\n        if (m.snow_intensity  > 0) types.add('snow');\n        if (m.sleet_intensity > 0) types.add('sleet');\n    }\n\n    return {\n        start_idx:        w.start_idx,\n        end_idx:          w.end_idx,\n        duration_min:     w.end_idx - w.start_idx + 1,\n        peak_intensity:   Math.round(peakIntensity * 1000) / 1000,\n        peak_probability: Math.round(peakProbability * 100) / 100,\n        types:            [...types]\n    };\n}\n\nconst analyzedWindows = precipWindows.map(analyzeWindow);\n\nconst hasThreat      = analyzedWindows.length > 0;\nconst isIntermittent = analyzedWindows.length > 1;\nconst firstWindow    = analyzedWindows[0] ?? null;\nconst lastWindow     = analyzedWindows[analyzedWindows.length - 1] ?? null;\nconst extendsToEnd   = lastWindow ? lastWindow.end_idx === minutely.length - 1 : false;\n\nconst allTypes    = [...new Set(analyzedWindows.flatMap(w => w.types))];\nconst overallPeak = Math.max(...analyzedWindows.map(w => w.peak_intensity), 0);\n\nmsg.payload = {\n    ...p,\n    analysis: {\n        has_threat:      hasThreat,\n        is_intermittent: isIntermittent,\n        extends_to_end:  extendsToEnd,\n        onset_minutes:   firstWindow?.start_idx ?? null,\n        clear_minutes:   hasThreat ? (extendsToEnd ? null : (lastWindow.end_idx + 1)) : null,\n        all_types:       allTypes,\n        peak_intensity:  Math.round(overallPeak * 1000) / 1000,\n        windows:         analyzedWindows\n    }\n};\n\nnode.status({\n    fill: hasThreat ? 'yellow' : 'green',\n    shape: 'dot',\n    text: formatStatus(\n        hasThreat\n            ? `${isIntermittent ? 'Intermittent' : 'Continuous'} — onset +${firstWindow.start_idx}min`\n            : 'No threat'\n    )\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 260,
        "wires": [
            [
                "fe4c872a7802ef2f"
            ]
        ]
    },
    {
        "id": "fe4c872a7802ef2f",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "fb8affa9b0fed45b",
        "name": "Build Message",
        "func": "const formatStatus = global.get('utils.formatStatus', 'initializers') || (t => t);\n\nconst p = msg.payload;\nconst a = p.analysis;\nconst cape = p.cape ?? 0;\n\nconst HEAVY_RAIN   = 0.30;\nconst HEAVY_SNOW   = 0.10;\nconst THUNDER_CAPE = 500;\n\nfunction capitalize(str) {\n    return str.charAt(0).toUpperCase() + str.slice(1);\n}\n\nfunction typeLabel(types, peakIntensity, cape) {\n    const thunder = cape >= THUNDER_CAPE;\n    const hasRain  = types.includes('rain');\n    const hasSnow  = types.includes('snow');\n    const hasSleet = types.includes('sleet');\n\n    let primary;\n    if      (hasRain && hasSnow && hasSleet) primary = 'rain, snow, and sleet';\n    else if (hasRain && hasSnow)             primary = 'rain and snow';\n    else if (hasRain && hasSleet)            primary = 'rain and sleet';\n    else if (hasSnow && hasSleet)            primary = 'snow and sleet';\n    else if (hasRain)                        primary = 'rain';\n    else if (hasSnow)                        primary = 'snow';\n    else if (hasSleet)                       primary = 'sleet';\n    else                                     primary = 'precipitation';\n\n    if (thunder) {\n        primary = primary\n            .replace(/^rain/, 'thunderstorms')\n            .replace(/^snow/, 'thundersnow')\n            .replace(/^sleet/, 'thundersleet');\n    }\n\n    if (!thunder && types.length === 1) {\n        if (hasRain && peakIntensity > HEAVY_RAIN) primary = 'heavy rain';\n        if (hasSnow && peakIntensity > HEAVY_SNOW) primary = 'heavy snow';\n    }\n\n    return primary;\n}\n\nfunction minuteText(n) {\n    return `${n} minute${n === 1 ? '' : 's'}`;\n}\n\nconst stationPrecipType = flow.get('station_precip_type') ?? 'None';\nconst currentlyActive   = stationPrecipType !== 'None';\n\nlet message     = null;\nlet threat_type = null;\n\nif (a.has_threat) {\n    const label = typeLabel(a.all_types, a.peak_intensity, cape);\n    threat_type = capitalize(label);\n\n    if (!currentlyActive) {\n        const onset = a.onset_minutes;\n        if (a.is_intermittent) {\n            message = onset === 0\n                ? `Periods of ${label} starting shortly`\n                : `Periods of ${label} starting in ${minuteText(onset)}`;\n        } else {\n            message = onset === 0\n                ? `${capitalize(label)} starting shortly`\n                : `${capitalize(label)} starting in ${minuteText(onset)}`;\n        }\n    } else {\n        if (a.is_intermittent) {\n            message = `Periods of ${label} for the next ${minuteText(a.clear_minutes ?? 60)}`;\n        } else if (a.extends_to_end) {\n            message = `${capitalize(label)} continuing for at least 60 minutes`;\n        } else {\n            message = `${capitalize(label)} stopping in ${minuteText(a.clear_minutes)}`;\n        }\n    }\n}\n\nmsg.payload = {\n    ...p,\n    message,\n    threat_type,\n    has_threat:       a.has_threat,\n    currently_active: currentlyActive\n};\n\nnode.status({\n    fill:  message ? 'yellow' : 'green',\n    shape: 'dot',\n    text:  formatStatus(message ?? 'Clear')\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "cf6c67f354d38b26"
            ]
        ]
    },
    {
        "id": "cf6c67f354d38b26",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "fb8affa9b0fed45b",
        "name": "Publish State",
        "func": "const p = msg.payload;\nconst a = p.analysis;\n\nnode.send([{\n    topic:   'highland/state/weather/analysis',\n    retain:  true,\n    payload: JSON.stringify({\n        timestamp:       p.fetched_at,\n        has_threat:      a.has_threat,\n        onset_minutes:   a.onset_minutes,\n        clear_minutes:   a.clear_minutes,\n        is_intermittent: a.is_intermittent,\n        extends_to_end:  a.extends_to_end,\n        all_types:       a.all_types,\n        peak_intensity:  a.peak_intensity,\n        cape:            p.cape,\n        message:         p.message,\n        threat_type:     p.threat_type,\n        source:          'open_weather_map',\n        minutely:        p.minutely.map(m => ({\n            t: m.time,\n            i: m.precip_intensity,\n            p: m.precip_probability,\n            k: m.precip_type\n        }))\n    })\n}, null]);\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Published' });\n\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 260,
        "wires": [
            [
                "419aad0856bdfa16"
            ],
            [
                "5bb889f303382632"
            ]
        ]
    },
    {
        "id": "419aad0856bdfa16",
        "type": "mqtt out",
        "z": "utility-weather-analysis",
        "g": "fb8affa9b0fed45b",
        "name": "Publish",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "4cefa2ad2d8b462e",
        "x": 1000,
        "y": 260,
        "wires": []
    },
    {
        "id": "70a253721a667cb7",
        "type": "link in",
        "z": "utility-weather-analysis",
        "g": "e48ec7853e3a24c2",
        "name": "Notification Management",
        "links": [],
        "x": 190,
        "y": 440,
        "wires": [
            [
                "c58e60827e5208c2"
            ]
        ],
        "l": true
    },
    {
        "id": "5decea75d30acaba",
        "type": "link out",
        "z": "utility-weather-analysis",
        "g": "e48ec7853e3a24c2",
        "name": "Notification Management Return",
        "mode": "return",
        "links": [],
        "x": 635,
        "y": 500,
        "wires": []
    },
    {
        "id": "c58e60827e5208c2",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "e48ec7853e3a24c2",
        "name": "Manage Notification",
        "func": "const formatStatus = global.get('utils.formatStatus', 'initializers') || (t => t);\n\nconst p = msg.payload;\nconst CORRELATION_ID = 'weather_precip_forecast';\nconst IMAGE_URL = `http://home.local:8123/local/hub.local/weather/radar/reflectivity.gif?t=${Math.floor(Date.now() / 1000)}`;\n\nconst wasActive = flow.get('notification_active') ?? false;\n\nif (!p.has_threat) {\n    if (wasActive) {\n        flow.set('notification_active', false);\n        node.status({ fill: 'green', shape: 'dot', text: formatStatus('Cleared') });\n        node.send([{\n            topic: 'highland/command/notify/clear',\n            payload: JSON.stringify({\n                correlation_id: CORRELATION_ID,\n                notification_id: 'weather.precip_forecast'\n            })\n        }, msg]);\n    } else {\n        node.status({ fill: 'green', shape: 'dot', text: formatStatus('No threat') });\n        node.send([null, msg]);\n    }\n} else {\n    flow.set('notification_active', true);\n    const action = wasActive ? 'Updated' : 'Created';\n    node.status({ fill: 'yellow', shape: 'dot', text: formatStatus(`${action}: ${p.message}`) });\n    node.send([{\n        topic: 'highland/event/notify',\n        payload: JSON.stringify({\n            correlation_id: CORRELATION_ID,\n            notification_id: 'weather.precip_forecast',\n            source: 'weather_analysis',\n            title: 'Weather Alert',\n            message: p.message,\n            media: { image: IMAGE_URL },\n            url: 'homeassistant://navigate/dashboard-weather/0?server=default',\n            sticky: true\n        })\n    }, msg]);\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "72b71d3c3c260c7e"
            ],
            [
                "5decea75d30acaba"
            ]
        ]
    },
    {
        "id": "72b71d3c3c260c7e",
        "type": "mqtt out",
        "z": "utility-weather-analysis",
        "g": "e48ec7853e3a24c2",
        "name": "Notify",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "4cefa2ad2d8b462e",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "9fe3e31da8fe82a9",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "83a2a12d4b7bf437",
        "name": "Build Sensors",
        "func": "const STATE_TOPIC = 'highland/state/weather/analysis';\nconst base        = 'homeassistant/sensor/highland_weather_analysis';\n\nconst device = {\n    identifiers:  ['highland_weather_analysis'],\n    name:         'Highland Weather Analysis',\n    model:        'OpenWeatherMap and Open-Meteo',\n    manufacturer: 'Highland'\n};\n\nnode.send({\n    topic:   `${base}/analysis/config`,\n    retain:  true,\n    qos:     1,\n    payload: JSON.stringify({\n        name:                  'Weather Analysis',\n        unique_id:             'highland_weather_analysis',\n        state_topic:           STATE_TOPIC,\n        value_template:        \"{{ value_json.threat_type if value_json.threat_type else 'Clear' }}\",\n        json_attributes_topic: STATE_TOPIC,\n        icon:                  'mdi:weather-rainy',\n        device\n    })\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1100,
        "wires": [
            [
                "c579777ee6f89059"
            ]
        ]
    },
    {
        "id": "b0b74d33afaa5ccb",
        "type": "inject",
        "z": "utility-weather-analysis",
        "g": "83a2a12d4b7bf437",
        "name": "On Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "9fe3e31da8fe82a9"
            ]
        ]
    },
    {
        "id": "c579777ee6f89059",
        "type": "mqtt out",
        "z": "utility-weather-analysis",
        "g": "83a2a12d4b7bf437",
        "name": "Publish",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "4cefa2ad2d8b462e",
        "x": 580,
        "y": 1100,
        "wires": []
    },
    {
        "id": "fdcce2b5f39c27c1",
        "type": "link out",
        "z": "utility-weather-analysis",
        "g": "bcb13dac861d250e",
        "name": "Begin Analysis Cycle",
        "mode": "link",
        "links": [
            "c8ab7d0fe0f8541f"
        ],
        "x": 360,
        "y": 1340,
        "wires": [],
        "l": true
    },
    {
        "id": "b6b8e9e579008d7b",
        "type": "cronplus",
        "z": "utility-weather-analysis",
        "g": "dae1ce2bc722b81b",
        "name": "Every Minute",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "Every Minute",
                "topic": "every-minute",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 170,
        "y": 620,
        "wires": [
            [
                "f7bf2226f80bc1c2"
            ]
        ]
    },
    {
        "id": "55b5f621be1afb52",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "dae1ce2bc722b81b",
        "name": "Build Request",
        "func": "const config = global.get('config');\nconst key = config.secrets.open_weather_map.api_key;\nconst lat = config.location.latitude;\nconst lon = config.location.longitude;\n\nmsg.url = `https://api.openweathermap.org/data/3.0/onecall?lat=${lat}&lon=${lon}&exclude=current,daily,alerts&appid=${key}&units=imperial`;\n\nflow.set('owm_tick_count', 0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 620,
        "wires": [
            [
                "f71b49b0c0ed6539"
            ]
        ]
    },
    {
        "id": "f71b49b0c0ed6539",
        "type": "http request",
        "z": "utility-weather-analysis",
        "g": "dae1ce2bc722b81b",
        "name": "Fetch Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 620,
        "wires": [
            [
                "8242604ee0c4be3b"
            ]
        ]
    },
    {
        "id": "8242604ee0c4be3b",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "dae1ce2bc722b81b",
        "name": "Normalize",
        "func": "const formatStatus = global.get('utils.formatStatus', 'initializers') || (t => t);\nconst d = msg.payload;\n\nfunction owmIdToPrecipType(id) {\n    if (!id) return 'none';\n    if (id === 511) return 'sleet';\n    if (id >= 600 && id <= 622) return 'snow';\n    if (id >= 500 && id <= 531) return 'rain';\n    if (id >= 300 && id <= 321) return 'rain';\n    return 'none';\n}\n\n// Build hourly lookup maps for pop and weather code\nconst popByHour  = {};\nconst typeByHour = {};\n(d.hourly || []).forEach(h => {\n    const key = Math.floor(h.dt / 3600) * 3600;\n    popByHour[key]  = h.pop ?? 0;\n    typeByHour[key] = h.weather?.[0]?.id ?? null;\n});\n\nconst minutely = (d.minutely || []).map(m => {\n    const hourKey   = Math.floor(m.dt / 3600) * 3600;\n    const intensity = Math.round(m.precipitation * 0.0393701 * 1000) / 1000;\n    const pop       = popByHour[hourKey] ?? 0;\n    const typeId    = typeByHour[hourKey] ?? null;\n    return {\n        time:               m.dt,\n        precip_intensity:   intensity,\n        precip_probability: pop,\n        precip_type:        intensity > 0 ? owmIdToPrecipType(typeId) : 'none',\n        source:             'open_weather_map'\n    };\n});\n\nconst canonical          = global.get('weather_canonical') ?? {};\ncanonical.minutely       = minutely;\ncanonical.sources        = canonical.sources ?? {};\ncanonical.sources.minutely = { provider: 'open_weather_map', fetched_at: new Date().toISOString() };\nglobal.set('weather_canonical', canonical);\n\nnode.status({ fill: 'green', shape: 'dot',\n    text: formatStatus(`${minutely.length} min — ${new Date().toLocaleTimeString()}`) });\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "32a496d30cba4e30",
        "type": "cronplus",
        "z": "utility-weather-analysis",
        "g": "16bcf54fdc77a766",
        "name": "Every 15 Minutes",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "Every 15 Minutes",
                "topic": "every-15min",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0,15,30,45 * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 190,
        "y": 740,
        "wires": [
            [
                "f8af95de139b3aed"
            ]
        ]
    },
    {
        "id": "f8af95de139b3aed",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "16bcf54fdc77a766",
        "name": "Build Request",
        "func": "const config = global.get('config');\nconst lat = config.location.latitude;\nconst lon = config.location.longitude;\n\nmsg.url = `https://api.open-meteo.com/v1/forecast?latitude=${lat}&longitude=${lon}&hourly=cape,lifted_index,convective_inhibition&models=gfs_seamless&forecast_days=1`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 740,
        "wires": [
            [
                "21b6fdd2ea17c2a9"
            ]
        ]
    },
    {
        "id": "21b6fdd2ea17c2a9",
        "type": "http request",
        "z": "utility-weather-analysis",
        "g": "16bcf54fdc77a766",
        "name": "Fetch Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 740,
        "wires": [
            [
                "aed2bbf31645aa1d"
            ]
        ]
    },
    {
        "id": "aed2bbf31645aa1d",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "16bcf54fdc77a766",
        "name": "Normalize",
        "func": "const formatStatus = global.get('utils.formatStatus', 'initializers') || (t => t);\nconst d = msg.payload;\n\nconst hourly = d.hourly;\nconst convective = hourly.time.map((t, i) => ({\n    time:                  t,\n    cape:                  hourly.cape[i],\n    lifted_index:          hourly.lifted_index[i],\n    convective_inhibition: hourly.convective_inhibition[i]\n}));\n\nconst canonical             = global.get('weather_canonical') ?? {};\ncanonical.convective        = convective;\ncanonical.sources           = canonical.sources ?? {};\ncanonical.sources.convective = { provider: 'open_meteo', fetched_at: new Date().toISOString() };\nglobal.set('weather_canonical', canonical);\n\nnode.status({ fill: 'green', shape: 'dot',\n    text: formatStatus(`${convective.length} hours — ${new Date().toLocaleTimeString()}`) });\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "5c292b434d3da63a",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "4b1b9a8cad6bb5c7",
        "name": "Set Polling Cadence",
        "func": "const p = msg.payload;\n\nconst hasThreat   = p.has_threat;\nconst tempestRain = (flow.get('station_precip_type') ?? 'None') !== 'None';\nconst shouldBeActive = hasThreat || tempestRain;\n\nconst newState = shouldBeActive ? 'active' : 'dormant';\nflow.set('owm_poll_state', newState);\n\nconst formatStatus = global.get('utils.formatStatus', 'initializers') || (t => t);\nnode.status({\n    fill:  newState === 'active' ? 'yellow' : 'green',\n    shape: 'dot',\n    text:  formatStatus(`${newState.toUpperCase()}`)\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 80,
        "wires": [
            [
                "740881f30d552751"
            ]
        ]
    },
    {
        "id": "f7bf2226f80bc1c2",
        "type": "function",
        "z": "utility-weather-analysis",
        "g": "dae1ce2bc722b81b",
        "name": "Rate Limiter",
        "func": "const state     = flow.get('owm_poll_state') ?? 'active';\nconst tickCount = (flow.get('owm_tick_count') ?? 0) + 1;\nflow.set('owm_tick_count', tickCount);\n\n// ACTIVE: pass every tick (every 1 min)\n// DORMANT: pass every 5th tick (every 5 min)\nconst passThrough = state === 'active' || (tickCount % 5 === 0);\n\nnode.status({\n    fill:  state === 'active' ? 'yellow' : 'green',\n    shape: 'dot',\n    text:  `${state.toUpperCase()} | Tick ${tickCount}`\n});\n\nif (!passThrough)\n{\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 620,
        "wires": [
            [
                "55b5f621be1afb52"
            ]
        ]
    },
    {
        "id": "4cefa2ad2d8b462e",
        "type": "mqtt-broker",
        "name": "Hub",
        "broker": "hub.local",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "669ae017d1d1989f",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-cron-plus": "2.2.4"
        }
    }
]